body {
  background: #dc3545 !important;
}

.tile {
  max-width: 550px !important;
  border-radius: 10px !important;
}

.hidden {
  opacity: 0 !important;
}

.container-focus {
  background: #dc3545 !important;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
.timer-tile {
  background: #e65766 !important;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.timer-break {
  background: #26c6da !important;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.container-break {
  background: #00acc1 !important;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.task-item {
  background-color: #f8f9fa;
  border-left: 5px solid #f8f9fa !important;
  border-right: 5px solid #f8f9fa !important;
}
.task-item:hover {
  background-color: #f8f9fa !important;
  border-radius: 10px !important;
  border-left: 5px solid gray !important;
  border-right: 5px solid gray !important;
}
.task-item:focus {
  background-color: #f8f9fa !important;
  border-radius: 10px !important;
  border-left: 5px solid black !important;
  border-right: 5px solid black !important;
}
.task-item:active {
  background-color: #f8f9fa !important;
  border-radius: 10px !important;
  border-left: 5px solid black !important;
  border-right: 5px solid black !important;
}

.task-complete {
  text-decoration: line-through !important;
}

.trash:hover {
  color: gray !important;
}

.drag-indicator:hover {
  color: #1266f1;
}

.task-pencil {
  color: #6c757d !important;
  border: none !important;
  background-color: transparent !important;
  padding: 0% !important;
}
.task-check {
  color: #6c757d !important;
  border: none !important;
  background-color: transparent !important;
  padding: 0% !important;
}
.task-trash {
  color: #6c757d !important;
  border: none !important;
  background-color: transparent !important;
  padding: 0% !important;
}

.task-pencil:hover {
  color: #00acc1 !important;
}
.task-check:hover {
  color: #00b74a !important;
}
.task-trash:hover {
  color: #dc3545 !important;
}
